.dropdown {
  border-radius: 4px;
  padding-left: 1px;
  box-sizing: content-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  position: absolute;
  z-index: 100;
  background-color: #fafafa;
  transform-origin: top;
  opacity: 0;
  width: 100px;
}
