.dropdown {
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  position: absolute;
  z-index: 100;
  background-color: #fafafa;
  transform-origin: top;
  opacity: 0;
  max-width: 12rem;
  font-size: 1.05em;
  font-weight: 500;
  border: 1px solid #0f172a;
  padding: 4px 2px;
}
