.option {
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 0.8em;
  border-radius: 4px;
}

.option.selected {
  border-left-color: #fb923c;
}

.option.selected.last {
  border-bottom-left-radius: 4px;
}

.option.option.selected.first {
  border-top-left-radius: 4px;
}

.option:hover {
  background-color: #f4f4f5;
  border-left-color: #dc2626 !important;
}
