.option {
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
}

.option:hover {
  background-color: #fafafa;
  cursor: pointer;
  transform: scale(1.015);
  border-left: red 2px solid;
}
