.option {
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid transparent;
}

.option:hover {
  background-color: #fafafa;
  cursor: pointer;
  border-left-color: red;
}
