<div class="row">
  <div class="container">
    <div
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>

    <div
      *ngFor="
        let i of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
      class="test"
      context-dropdown
      [options]="options"
      (optionSelected)="setSelectedOption($event)"
    ></div>
  </div>
  <div class="col">
    <img class="seleted-option" [src]="imagePath" alt="selected option" />
    <p>{{ imagePath.split("/")[1].split(".")[0] }}</p>
  </div>
</div>
